.login-container {
  position: relative;
  height: 100%;
  background: url('../../assets/images/model3.jpg') no-repeat;
  background-position: center;
}

.login-container > .login-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 380px;
  margin-top: -190px;
  margin-left: -250px;
  background-color: #fff;
  border-radius: 4px;
  .login-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    img {
      width: 50px;
      margin-right: 10px;
    }
  }
}

.login-form-button {
  width: 100%;
  > .ant-col {
    flex: 1;
    max-width: 100% !important;
    .login-btn {
      width: 100%;
    }
  }
}
