.ant-layout-header {
  z-index: 1;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 60px;
  background: #fff;
}

.ant-dropdown {
  .popover-content {
    padding: 10px 20px;
    background-color: #fff;
  }
}

.left {
  float: left;
}

.right {
  display: flex;
  align-items: center;
  float: right;
  .userinfo {
    margin-left: 20px;
  }
  .username {
    margin-left: 10px;
  }
}
